<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Nemerle.VsIntegration.Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Nemerle.VsIntegration.Tests.Properties.Settings>
            <setting name="WrongNumberBaseTypes" serializeAs="String">
                <value>Wrong number of base types for {0} class.</value>
            </setting>
            <setting name="WrongNumberMembers" serializeAs="String">
                <value>Wrong number of members in {0} class.</value>
            </setting>
            <setting name="InvalidAccessModifier" serializeAs="String">
                <value>Invalid access modifier for {0}.</value>
            </setting>
            <setting name="InvalidBaseType" serializeAs="String">
                <value>Invalid base type for {0} class.</value>
            </setting>
            <setting name="InvalidName" serializeAs="String">
                <value>Invalid name.</value>
            </setting>
            <setting name="IsNotClass" serializeAs="String">
                <value>{0} is not a class.</value>
            </setting>
            <setting name="WrongNumberWorkspaces" serializeAs="String">
                <value>Wrong number of namespaces.</value>
            </setting>
            <setting name="CompileUnitEmpty" serializeAs="String">
                <value>Compile unit is empty.</value>
            </setting>
            <setting name="InvalidParametersCount" serializeAs="String">
                <value>Invalid parameters count in {0} method.</value>
            </setting>
            <setting name="InvalidType" serializeAs="String">
                <value>Invalid type for {0}.</value>
            </setting>
            <setting name="InvalidReturnType" serializeAs="String">
                <value>Invalid return type for {0} method.</value>
            </setting>
            <setting name="WrongNumberTypes" serializeAs="String">
                <value>Wrong number of types for {0} namespace.</value>
            </setting>
            <setting name="WrongNumberUsings" serializeAs="String">
                <value>Wrong number of usings for {0} namespace.</value>
            </setting>
            <setting name="InvalidNamespace" serializeAs="String">
                <value>Invalid namespace.</value>
            </setting>
            <setting name="InvalidUsing" serializeAs="String">
                <value>Invalid using for {0}.</value>
            </setting>
            <setting name="NotFoundCodeStream" serializeAs="String">
                <value>Did not find code stream for {0}.</value>
            </setting>
        </Nemerle.VsIntegration.Tests.Properties.Settings>
    </applicationSettings>
</configuration>