
[Bb]in*/
[Dd]ebug*/
[Oo]bj*/
[Rr]elease*/

*.ReSharper
_ReSharper.*
*.user
*.suo
*.sln.cache
*.resharper

*.obj
*.pdb
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc

snippets/VS2010/Nemerle.VisualStudio/Templates/Projects/Web/WSWebSite/Nemerle*.dll
VSIntegraion/Nemerle.VisualStudio/Templates/Projects/Web/WSWebSite/Nemerle*.dll

testReadWrite

*.*~
*.*#