
[Bb]in*/
[Dd]ebug*/
[Oo]bj*/
[Rr]elease*/

*.ReSharper
_ReSharper.*
*.user
*.suo
*.sln.cache
*.resharper

snippets/VS2010/Nemerle.VisualStudio/Templates/Projects/Web/WSWebSite/Nemerle*.dll
VSIntegraion/Nemerle.VisualStudio/Templates/Projects/Web/WSWebSite/Nemerle*.dll

testReadWrite
misc/packages/wix/dist/

*.*proj.user
snippets/VS2010/Nemerle.Compiler.Utils/Nemerle.Compiler.Utils.csproj.user
*.csproj.user
snippets/VS2010/Nemerle.Compiler.Utils/Nemerle.Compiler.Utils.csproj.user
snippets/WordToRsdnMlConverter/WordToRsdnMlConverter/Templates/Normal.dot
VsIntegration/Nemerle.VisualStudio/Templates/Projects/Web/WSWebSite/Nemerle.Compiler.dll
VsIntegration/Nemerle.VisualStudio/Templates/Projects/Web/WSWebSite/Nemerle.Macros.dll
VsIntegration/Nemerle.VisualStudio/Templates/Projects/Web/WSWebSite/Nemerle.dll
*~$*.dot