[submodule "ExternalDependences/vssdk2008"]
	path = ExternalDependences/vssdk2008
	url = git://github.com/someone-with-default-username/vssdk2008.git
[submodule "ExternalDependences/vssdk2010"]
	path = ExternalDependences/vssdk2010
	url = git://github.com/someone-with-default-username/vssdk2010.git
[submodule "ExternalDependences/wix"]
	path = ExternalDependences/wix
	url = git://github.com/someone-with-default-username/wix.git
