[submodule "snippets/VS2010/ProjectBase"]
	path = snippets/VS2010/ProjectBase
	url = git@github.com:Ziaw/MpfProjectBase10.git
[submodule "VsIntegration/ProjectBase"]
	path = VsIntegration/ProjectBase
	url = git@github.com:Ziaw/MpfProjectBase9.git
