
[Bb]in*/
[Dd]ebug*/
[Oo]bj*/
[Rr]elease*/

*.ReSharper
_ReSharper.*
*.user
*.suo
*.sln.cache
*.resharper

snippets/VS2010/Nemerle.VisualStudio/Templates/Projects/Web/WSWebSite/Nemerle*.dll
VSIntegraion/Nemerle.VisualStudio/Templates/Projects/Web/WSWebSite/Nemerle*.dll
