[submodule "ExternalDependences/vssdk2008"]
	path = ExternalDependences/vssdk2008
	url = https://github.com/someone-with-default-username/vssdk2008.git
[submodule "ExternalDependences/vssdk2010"]
	path = ExternalDependences/vssdk2010
	url = https://github.com/someone-with-default-username/vssdk2010.git
[submodule "ExternalDependences/vssdk2012"]
	path = ExternalDependences/vssdk2012
	url = https://github.com/someone-with-default-username/vssdk2012.git
[submodule "ExternalDependences/wix36"]
	path = ExternalDependences/wix36
	url = https://github.com/someone-with-default-username/wix36.git
[submodule "ExternalDependences/wix37"]
	path = ExternalDependences/wix37
	url = https://github.com/someone-with-default-username/wix37.git
[submodule "ExternalDependences/wix38"]
	path = ExternalDependences/wix38
	url = https://github.com/NN---/wix38.git
[submodule "ExternalDependences/vssdk2013"]
	path = ExternalDependences/vssdk2013
	url = https://github.com/NN---/vssdk2013.git
