<configuration><configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Settings>
            <setting name="Path" serializeAs="String">
                <value>e:\Jur\RSDN\2013-1\</value>
            </setting>
            <setting name="Year" serializeAs="String">
                <value>2014</value>
            </setting>
            <setting name="Num" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Pages" serializeAs="String">
                <value>72</value>
            </setting>
        </Settings>
    </userSettings>
               </configuration>