body {
	padding: 2em 1em 1em 60px;
	margin: 0;
	font-family: sans-serif;
	color: black;
	background: white;
	/*
	background-position: top left;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-image: url(logo.png);
	*/
}

a { text-decoration: none; }
:link { color: #00e; background: transparent }
:visited { color:#00e /* #903aef */; background: transparent }
a:active { color: #C00; background: transparent }
a[href]:hover { 
  color: #00f; 
/*  text-decoration: underline;  */
  background: #e5e5e5 ;
}

a.file-link { font-family: monospace; }

th, td { /* ns 4 */
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 { text-align: left }
h1, h2, h3 { color: #005A9C; background: transparent; }
h1 { font: 170% sans-serif }
h2 { font: 140% sans-serif }
h3 { font: 120% sans-serif }
h4 { font: bold 100% sans-serif }
h5 { font: italic 100% sans-serif }
h6 { font: small-caps 100% sans-serif }

pre { 
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin: 0px;
  border-style: dotted;
  border-width: 2px;
  border-color: #aaa;
}

p, ul, ol {
  margin-left: 2em;
}

p.question {
  font-weight: bold;
}

span.capital {
  font: bold 120% sans-serif
}

ul.toc {
  list-style: disc;		/* Mac NS has problem with 'none' */
  list-style: none;
  margin-left: 1em;
  font: 90% sans-serif
}

table.outer-menu {
  position: absolute;
  left: 30px;
  top: 0px;
  right: 5px;
  width: 96%;
  background-color: #fff;
}

table.menu {
  width: 100%;
  background-color: #eee;
  border-style: dotted;
  border-width: 1px;
  border-color: #555; 
  font: small-caps 70% sans-serif;
  margin-bottom: 3px;
}

@media screen {
  body > table.outer-menu {
    position: fixed;
  }
}

table.foot {
  margin-left: 0em;
  font: small-caps 80% sans-serif;
}

table.realtable {
  margin-left: 2em;
  background-color: #eee;
  border-style: solid;
  border-width: 1px;
  border-color: #999; 
}

th.realtable {
  background-color: #aad;
  color: #005A9C;
  border-style: solid;
  border-width: 1px;
  border-color: #666; 
  padding: 0.3em;
}

td.realtable {
  border-style: solid;
  border-width: 1px;
  border-color: #666; 
  padding: 0.3em;
}

div.copyright {
  font: small-caps 70% sans-serif;
  text-align: center;
}

.rule-name {
	font-style: italic;
	font-size: 18px;
	color: #005500;
	background: transparent;
	margin-left: 0.5em;
	margin-bottom: 0.5em;
	margin-top: 0.3em;
}

.rule-body {
	margin-left: 2em;
	margin-bottom: 0.5em;
}

.rule {
	margin-left: 3em;
	margin-right: 3em;
	margin-bottom: 0.5em;
	background-color: #e6e6e6;
	margin-top: 0.5em;
}

.terminal {
	font-family: Courier New, monospace;
	font-weight: bold;
	font-size: 14px;
	background-color: #ccc;
	color: #000000;
}

a.non-terminal {
	color: #0000cc;
	font-style: italic;
	font-size: 14px;
	text-decoration: none;
	background: transparent;
}

a.non-terminal:hover {
	color: #005500;
	background: transparent;
}

.special-terminal {
	font-family: Courier New, monospace;
	font-weight: bold;
	font-style: italic;
	font-size: 14px;
}

.modifier {
	font-family: Courier New, monospace;
	font-size: 20px;
	/*color: #777777;*/
}

.not-csharp {
	color: #1f159b;
	font-style: italic;
}

.meta {
  font-family: Sans, Arial, serif;
  font-style: italic;
  font-weight: bold;
  color: #995500;
  background: transparent;
}

.code {
  font-family: Courier New, monospace;
  color: #005500;
  background: transparent;
}

tt.filename {
  font-family: Courier New, monospace;
  font-style: italic;
  color: #005555;
  background: transparent;
}

table.code {
  background-color: #dddddd;
  color: #005500;
  margin: 0.6em;
  margin-left: 4em;
  padding: 0em;
}


