/* Marcin Młotkowski, November 2006
   University of Wrocław, Institute of Computer Science
   
   CSS style for the Nemerle Documentation Project

   This css is based on the css of the Nemerle web page (nemerle.org)
   and slightly modified.

 */

html,body	{ color: darkblue; background: #E6ECFF;
		  font-family: helvetica, arial, sans-serif }

/** Format of the header of each page **/

div.title       {  border-bottom: 1px solid black;
                   background: rgb(153,212,239);
                   color: black;
                   padding: 4px }
                   
span.title      { font-weight: bold;
                  font-size: large; }
                  
span.subtitle   { font-size: small; }

/** Defines a footer **/

div.footer       { 
    background: #E6ECFF;
    border: none;
    margin: .6em 0 0.8em 0;
    padding: .4em 0 .4em 0;
    text-align: center;
    font-size: 90%;
    font-variant: small-caps;
}

/** Elements used in TOC and main blocks **/

div.ns-index    { background-color: white;
                  color: black;
                  border-collapse: collapse;
                  border: 1px solid #aaa;
                  padding: 0 .8em .3em .5em;
                  margin-top: 1ex;
                  margin-bottom: 1ex; }

span.ns-index   { font-weight: bold; }
                  
div.index-element { padding-left: 20px; margin-left: 20px; }


/** links style **/
a		{ text-decoration: underline; }
a:link		{ color: blue; }
a:visited	{ color: darkblue; }
a:active	{ color: red; }

/** Grouping elements of class **/
div.elements-group {
      border: 1px solid grey;
      padding-left: 5px;
      margin: 2px;
}

span.elements-group {
      font-weight: bold
}

div.element { padding-left: 20px; margin-left: 20px; padding-top: 5px; }


/** Elements like comments, remarks, parameters **/
div.komentarz {
      font-style: italic;
      color:      green;
}

div.uwaga {
      font-style: italic;
      color:      pink;
}

div.param {
      font-style: italic;
      color:      orange;
}

div.example {
      font-style: italic;
      color:      blue;
}

div.exception {
      font-style: italic;
      color:      red;
}

div.permission {
      font-style: italic;
      color:      magenta;
}

span.paramref {
      color: brown
}

span.see {
      color: coral;
}

div.value {
      color: cyan;
}

div.listheader {
      color: darkgrey;
}

span.term {
      color: firebrick;
}

span.description {
      color: khaki;
}
