html,body	{ color: darkblue; background: #E6ECFF;
		  font-family: helvetica, arial, sans-serif }


div.title       {  border-bottom: 1px solid black;
                   background: rgb(153,212,239);
                   color: black;
                   padding: 4px }
                   
span.title      { font-weight: bold;
                  font-size: large; }
                  
span.subtitle   { font-size: small; }


div.ns-index    { background-color: white;
                  color: black;
                  border-collapse: collapse;
                  border: 1px solid #aaa;
                  padding: 0 .8em .3em .5em;
                  margin-top: 1ex;
                  margin-bottom: 1ex; }

span.ns-index   { font-weight: bold; }
                  
div.index-element { padding-left: 20px; margin-left: 20px; }

div.footer       { 
    background: #E6ECFF;
    border: none;
    margin: .6em 0 0.8em 0;
    padding: .4em 0 .4em 0;
    text-align: center;
    font-size: 90%;
    font-variant: small-caps;
}            

/* ------------ OLD ------------*/
a		{ text-decoration: underline; }
a:link		{ color: blue; }
a:visited	{ color: darkblue; }
a:active	{ color: red; }



div.site	{ border-bottom: 1px solid black;
		  background: #f0f0d0; padding-bottom: 5px;
                  font-size:large; font-weight: bold }

div.salve {
   font-size: 200%;
   text-align: center;
   color: rgb(204,149,97);
   margin-top: 1ex;
   margin-bottom: 1ex;
}

/** nawigacja **/

// div.navigator	{ position: fixed; float: left; margin-left: 50%; margin-top: 2ex; }
div.navigator	{  }


div.navigator p	{ border-left:    2px solid white;
		  border-top:     2px solid white;
		  border-right:   2px solid #806040;
		  border-bottom:  2px solid #806040;
		  padding-left:   2ex;
		  padding-right:  2ex;
		  padding-top:    0.5em;
		  padding-bottom: 0.5em;
		  margin-top:     0em;
		  margin-bottom:  1em;
		  background: white; color: black }

div.navi span	{ display: block; text-align: center; font-weight: bold; margin-bottom: 1ex }

div.navigator a	{ text-decoration: none; display: block;
		  text-align: left; padding: 1px; 
		  font-size: small; 
		  border-bottom: 1px solid #806040; }

div.navigator a:hover { color: black; background: grey }



/*** info ***/

p.namespace,div.namespace {
                  width:      90%;
                  border-left:    2px solid white;
		  border-top:     2px solid white;
		  border-right:   2px solid #806040;
		  border-bottom:  2px solid #806040;
                  font-size:      small;
                  float:          right;
		  padding-left:   2ex;
		  padding-right:  2ex;
		  padding-top:    0.5em;
		  padding-bottom: 0.5em;
		  margin-top:     0em;
		  margin-bottom:  1em;
		  background: white; color: black;
}

span.namespace {
    font-size:  130%;
    text-align: center;
    background: white;
    color:      red;
}


/*** klasa ***/
div.klasa {
      border: 1px solid grey;
}

span.klasa {
      color: magenta;
}

/** komnetarz **/
div.komentarz {
      font-style: italic;
      color:      green;
}

div.uwaga {
      font-style: italic;
      color:      pink;
}

div.param {
      font-style: italic;
      color:      orange;
}
