/* Marcin Młotkowski, November 2006
   University of Wrocław, Institute of Computer Science
   
   CSS style for the Nemerle Documentation Project

   This css is based on the css of the Nemerle web page (nemerle.org)
   and slightly modified.

 */

html,body	{ color: rgb(0,0,149); background: #E6ECFF;
		  font-family: helvetica, arial, sans-serif }

/** Format of the header of each page **/

div.title       {  border-bottom: 1px solid black;
                   background: rgb(153,212,239);
                   color: black;
                   padding: 4px }
                   
span.title      { font-weight: bold;
                  font-size: large; }
                  
span.subtitle   { font-size: small; }

/** Defines a footer **/

div.footer       { 
    background: #E6ECFF;
    border: none;
    margin: .6em 0 0.8em 0;
    padding: .4em 0 .4em 0;
    text-align: center;
    font-size: 90%;
    font-variant: small-caps;
}

/** Elements used in TOC and main blocks **/

div.ns-index    { background-color: white;
                  color: black;
                  border-collapse: collapse;
                  border: 1px solid #aaa;
                  padding: 0 .8em .3em .5em;
                  margin-top: 1ex;
                  margin-bottom: 1ex; }

/** name of a class **/
span.ns-index   { font-weight: bold; }
                  
div.index-element { padding-left: 20px; margin-left: 20px; }


/** links style **/
a		{ text-decoration: underline; }
a:link		{ color: blue; }
a:visited	{ color: rgb(0, 0, 149); }
a:active	{ color: red; }

/** Grouping elements of class **/
div.elements-group {
      border: 1px solid rgb(169, 169, 169);
      padding-left: 5px;
      padding-right: 5px;
      margin: 2px;
      background: #E6ECFF;
}

/** name of a group of elements, e.g. Methods, Properties etc. **/
span.elements-group {
      font-weight: bold;
      padding-right: 5px;      
}

/** block including a single element, e.g. method, field etc. **/
div.element { 
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  
  padding-left: 10px; 
  padding-top: 5px;
  padding-right: 5px;
  background: rgb(153,212,239);
  border: 1px solid
}


/** Elements like comments, remarks, parameters **/
div.comment {
      font-style: italic;
      color:      green;
}

div.remark {
      font-style: italic;
      color:      rgb(255, 192, 203);
}

div.param {
      font-style: italic;
      color:      rgb(255, 165, 0);
}

div.example {
      font-style: italic;
      color:      blue;
}

div.exception {
      font-style: italic;
      color:      red;
}

div.permission {
      font-style: italic;
      color:      rgb(255, 0, 255);
}

div.seealso {
      font-style: bold;
      color:      yellow;
}

span.paramref {
      color: rgb(165, 42, 42)
}

span.see {
      color: rgb(255, 127, 80);
}

div.value {
      color: rgb(0, 255, 255);
}

div.listheader {
      color: rgb(169, 169, 169);
}

span.term {
      color: rgb(178,34,34);
}

span.description {
      color: rgb(240,230,140);
}
