<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Nemerle.VisualStudio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Nemerle.VisualStudio.Properties.Settings>
            <setting name="AutoShowAst" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HighlightUsages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HighlightUsagesUnlessTerminalSession" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImplementMembersSize" serializeAs="String">
                <value>620, 400</value>
            </setting>
        </Nemerle.VisualStudio.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
